:root {
    --taskbarHeight: 30px;
    --menuContentDefaultMargin: 20px;
    --menuContentDefaultPadding: 30px;
}

body {
    margin: 0;
    font-family: -apple-system, sans-serif;
    /*    @todo Custom background for user preference setup     */
    background-image: url("https://i.pinimg.com/originals/40/1d/3a/401d3af7e9822626a908e5fea98d3e72.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}

.appsSection {
    width: 50%;
    float: left;
}

.dirsSection {
    width: 50%;
    float: right;
}

.appsSection .icon {
    float: left;
}

.dirsSection .icon {
    float: right;
}

#taskbar {

    padding: 10px;
    bottom: 0;
    position: fixed;
    width: 99%;
    height: var(--taskbarHeight);
    background-color: rgba(0, 0, 0, 0.63);
    color: white;

}

.clock {

    padding: 10px;
    float: right;

}

.menuButton {
    float: left;
    padding: 15px;
    margin-left: 50px;
    border: 1px rgba(255, 255, 255, 0.48) solid;
}

.menuButton:hover {
    background-color: rgba(255, 255, 255, 0.48);
    cursor: pointer;
    border: 1px rgba(255, 255, 255, 0.84) solid;
}

#home {
    width: 20%;
    height: 50%;
    display: none;
    position: fixed;
    bottom: 0;
    padding: var(--menuContentDefaultPadding) var(--menuContentDefaultPadding) 10px var(--menuContentDefaultPadding) ;
    margin: var(--menuContentDefaultMargin) var(--menuContentDefaultMargin) calc(var(--menuContentDefaultMargin) + var(--taskbarHeight)) var(--menuContentDefaultMargin);
    font-size: 15px;
    background-color: rgba(255, 255, 255, 0.24);
    border-radius: 10%;
    box-shadow: 2px 1px 90px black;
}

#home:hover {
    background-color: rgba(255, 255, 255, 0.26);
}

#home a {

    margin: 20px;
    padding: 10px;
    border-radius: 10cm;
    color: white;
    background-color: #2b2d48;
    text-decoration: none;

}

#home a:hover {

    color: white;
    background-color: #141631;
    box-shadow: 1px 1px 2137px rgba(255, 255, 255, 0.6);

}

.topPanel {
    width: 100%;
    height: 80%;
}

.bottomPanel {

    text-align: center;
    height: 15%;
    width: 100%;
    bottom: 0;
    left: 0;
    position: absolute;

}

.icon {

    display: inline-block;
    float: left;
    margin: 10px;
    font-size: 13px;
    border: 1px solid rgba(255, 255, 255, 0.07);
    text-align: center;

}

.icon:hover {

    border: 1px solid rgba(255, 255, 255, 0.13);
    background-color: rgba(255, 255, 255, 0.14);

}

.icon img {

    padding: 10px;
    width: 50px;

}

.icon a {

    text-decoration: none;
    color: white;
    cursor: pointer;

}

/* Dirs css section */
:root {
    --dirWidth: 90%;
    --dirHeight: 90%;
    --dirInHeaderFooterHeight: 5%;
    --dirInMainHeight: 90%;
    --colorDirLite: rgba(53, 53, 53, 0.94);
    --colorDirDark: rgba(5, 5, 5, 0.63);
}

.dirExplorer {

    position: absolute;
    left: calc((100% - var(--dirWidth)) / 2);
    top: calc((100% - var(--dirHeight)) / 2);
    width: var(--dirWidth);
    height: calc(var(--dirHeight) - var(--taskbarHeight));
    /* @todo Custom color between white and dark system style */
    background-color: var(--colorDirLite);
    border: 3px solid var(--colorDirDark);
    border-radius: 20px;

}

.dirExplorer header {

    background-color: var(--colorDirDark);
    width: 100%;
    height: var(--dirInHeaderFooterHeight);
    border-radius: 17px 17px 0 0;

}

.dirExplorer header .dirName {

    position: absolute;
    left: 70px;
    margin-top: 5px;
    color: white;
    letter-spacing: 1px;
    text-shadow: 2px 2px 20px white;
    box-shadow: 1px 1px 200px white;
    cursor: default;

}

.dirExplorer header .closeBtn {

    position: absolute;
    right: 25px;
    width: 25px;
    height: 25px;
    background-color: red;
    border-radius: 10cm;
    text-align: center;
    text-decoration: none;
    color: white;

}

.dirExplorer header .closeBtn:hover {

    background-color: #fd2f2f;
    box-shadow: 1px 1px 10px red;

}

.dirExplorer .main {

    width: 100%;
    height: var(--dirInMainHeight);

}

.dirExplorer .main .left {

    width: 20%;
    height: 100%;
    border: 0.5px solid var(--colorDirDark);
    float: left;

}

.dirExplorer .main .right {

    height: 100%;
    width: 78%;
    float: left;

}

.dirExplorer footer {

    background-color: var(--colorDirDark);
    width: 100%;
    height: var(--dirInHeaderFooterHeight);
    border-radius: 0 0 17px 17px;

}