extends ../template.pug

append header
    a #{header}

append container

    form(method="post" action="/createAccount")
        input(type="text" style="display: none;" name="page" value="2")

        | #{description}. <br> <br>

        | #{input1} <br>
        input(type="text" name="username" autocomplete="off" required autofocus)
        br
        br
        | #{input2} <br>
        input(type="password" name="password" autocomplete="off" required)

        input(type="submit" class="sub" value=">")