extends desktopTemplate.pug

append container

    section.dirExplorer

        header

        section.main

            section.left
                | test

            section.right
                | test

        footer