head

    link(rel="stylesheet" href="style/desktop.css")

body
    | Pomidor
    a(href="/createAccount") test
    br
    a(href="/login") test2
    br
    a(href="/calc") calc

    section#taskbar

        div.clock#taskBarClock 00:00:00

    script(src="scripts/taskbar/clock.js")