extends desktopTemplate.pug

append container

    section.dirExplorer

        header
            a.dirName desktop/test
            a(href='/').closeBtn

        section.main

            section.left
                | test

            section.right

                for file in dirFiles
                    a(href=file.name)
                        div.icon
                            img(src=file.image)
                            br
                            a #{file.name}

        footer