head

    link(rel="stylesheet" href="style/desktop.css")
    script(src="scripts/disableScroll.js")

body

    // @todo Add custom language
    a(href="/calc")
        div.icon
            img(src="assets/images/desktop/default.png")
            br
            a calc

    // @todo Add custom language
    a(href="/settings")
        div.icon
            img(src="assets/images/desktop/default.png")
            br
            a settings

    section#home

        div.topPanel

        div.bottomPanel
            a(href='/logout') #{logOut}
            a(href='/shutdown') #{shutDown}


    section#taskbar

        div.menuButton(onclick='switchHome();')

        div.clock#taskBarClock 00:00:00

    script(src="scripts/taskbar/clock.js")
    script(src="scripts/taskbar/home.js")