body {
    margin: 0;
    background-color: ghostwhite;
    font-family: -apple-system, sans-serif;
}

header {

    position: fixed;
    width: 50%;
    height: 10%;
    left: 25%;
    top: 10%;
    background-color: lightgray;

    text-align: center;
    font-size: 35px;

}

header a {

    position: fixed;
    top: 12%;
    left: 40%;

}

#container {

    background-color: lightgray;
    color: black;
    width: 50%;
    height: 50%;
    position: fixed;
    top: 25%;
    left: 25%;

}

form {

    text-align: center;
    margin: 10%;
    font-size: 20px;

}

select {
    width: 40%;
}

.sub {

    bottom: 0;
    position: absolute;
    right: 0;
    margin: 5%;
    padding: 2% 5% 2% 5%;
    border: none;
    box-shadow: 1px 1px 20px white;
    background-color: lightskyblue;
}

.sub:hover {
    background-color: deepskyblue;
    box-shadow: 1px 1px 200px black;
}